:root {
  --naranja-yami: #d96941;
  --azul-yami: #0f4c75;
}

#root {
  max-width: 1280px auto;
  padding: 0rem;
  min-height: 100vh;
}

body {
  margin: 0;
  overflow: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-page {
  padding: 2rem;
  flex: 1; /*Para que empuje el footer hacia abajo*/
}
